/* styles/styles.css */
body, html {
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
  overflow-y: auto; /* Allow vertical scrolling */
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Ensure the canvas is behind other content */
}

body.dark-mode {
  background-color: #2a2a2a;
}

body.light-mode {
  background-color: #eee;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box; /* Ensure padding is included in the width */
  z-index: 1;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.navbar-item {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px; /* Added padding */
  font-size: 18px; /* Increased font size */
  transition: color 0.3s, text-decoration 0.3s;
}

.navbar-item:hover {
  color: #ddd;
  text-decoration: underline;
}

body.light-mode .navbar-item {
  color: #111;
}

body.light-mode .navbar-item:hover {
  color: #333;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  color: #fff;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Translucent background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for lifted effect */
  padding-top: 120px; /* Add padding to the top */
  padding-bottom: 120px;
  border-radius: 10px;
  margin: 30px;
  margin-top: 400px;
  z-index: 1;
}

.center-content h1 {
  margin: 0;
  font-size: 36px;
}

.center-content hr {
  width: 50%;
  margin: 20px auto;
  border: 1px solid #fff;
}

.center-content p {
  margin: 20px;
  font-size: 18px;
  line-height: 1.6;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.social-links .icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.social-links .icon:hover {
  transform: scale(1.1);
}

body.light-mode .center-content {
  color: #111;
  background: rgba(255, 255, 255, 0.8); /* Light mode translucent background */
}

body.light-mode .center-content hr {
  border-color: #111;
}

.bio-paragraph {
  width: 50%;
  margin-top: 10px;
}

.toggle-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}

.toggle-switch {
  display: none;
}

.toggle-label {
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-label::after {
  content: '';
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.toggle-switch:checked + .toggle-label {
  background-color: #2a2a2a;
}

.toggle-switch:checked + .toggle-label::after {
  transform: translateX(30px);
}

.projects-section {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;/* Adjust as needed */
}

.project-card {
  background-color: #222;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: 100%;
  border-radius: 10px;
}

.project-card h2 {
  margin-top: 0;
}

.project-card p {
  margin: 10px 0;
}

.project-card .tools {
  list-style: none;
  padding: 0;
}

.project-card .tools li {
  display: inline-block;
  background-color: #444;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0;
}

.project-card .links a {
  color: #1e90ff;
  text-decoration: none;
  margin-right: 10px;
}

body.light-mode .project-card {
  background-color: #fff;
  color: #212121;
}

body.light-mode .project-card .tools li {
  background-color: #ddd;
}

body.light-mode .project-card .links a {
  color: #0073e6;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .center-content {
    background: none; /* Remove background on mobile */
    box-shadow: none; /* Remove box shadow on mobile */
    width: 90%; /* Adjust width on mobile */
    margin-top: 120vh; /* Adjust top margin on mobile */
    padding-top: 20px; /* Add padding to the top */
  }

  body.light-mode .center-content {
    background: none; /* Remove background in light mode on mobile */
    box-shadow: none; /* Remove box shadow in light mode on mobile */
  }

  .bio-paragraph {
    width: 85%;
    margin-top: 10px;
  }
}