h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: auto;
}

body.light-mode .timeline::before {
    background: #111;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 4px;
    height: 100%;
    background: #eeeeee;
    animation: growLine 2.5s ease-out forwards;
}

body.light-mode .timeline::before {
    background: #111;
}

.timeline-item {
    margin-left: 60px;
    margin-bottom: 3rem;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
    display: flex;
    flex-direction: column;
}

.timeline-item.visible {
    opacity: 1;
    transform: translateY(0);
}

body.light-mode .dot {
    background: #111;
}

.dot {
    position: relative;
    left: 12px;
    background: #eeeeee;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.content {
    padding: 1rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    text-align: left;
}

.content h3 {
    color: #eeeeee;
    margin-bottom: 0.5rem;
}

body.light-mode .content h3 {
    color: #111;
}

@keyframes growLine {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}